$primary: rgba(241, 102, 35, 0.9);
$secondary: rgba(50, 50, 50, 1);

// Typography
$lilita: "Lilita One", Helvetica, Arial, sans-serif;

// fonts
$font-size-default: 16px;

// colors
$white: #F9F6EE;
