@import "./variables";
@import "./kendo";
//@import "./typography";

body {
    font-family: "Arial";
    background-color: $secondary;
}

main {
    margin: auto;
    max-width: 920px;
    padding: 0 20px;
}

@media (max-width: 500px) {
    main {
        padding: 0 5px;
    }
}
  
